@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("css/helpers.css");

@layer components {
    .header-link {
        @apply text-white font-primary border-b-2 border-transparent hover:border-b-2 hover:border-green transition-all duration-300;
    }
    .navbar{
        @apply fixed w-full  p-6 z-40;
    }

    .header-link.active{
        @apply text-white
    }
}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 15px;
    background-color: aqua;
}

body::-webkit-scrollbar-track {
    background-color: white;
}

body::-webkit-scrollbar-thumb {
    /* background-color: rgb(7 91 25); */
    background-color: #2EEF59
}